@import 'variables.scss';

.float-box {

  z-index: 10000;
  position: absolute !important;
  top: $header-height;
  bottom: 0;
  padding: 15px;

  // width: 600px;
  background-color: white;
  box-shadow: 2px 4px 8px #9c9c9c;

  transform: translateX(0);
  -webkit-transform: translateX(0);
  animation-fill-mode: forwards;
  transition-property: -webkit-transform,transform,opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);

  &.no-padding {
    padding: 0 !important;
  }

  .float-box-view {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    display: block;
    position: relative;
    overflow-x: hidden;
  }

}