/* Cores do tema do sistema */

$primary:       #42A5F5 !default;
$secondary:     #6c757d !default;
$success:       #66BB6A !default;
$info:          #17a2b8 !default;
$warning:       #FFA726 !default;
$danger:        #dc3545 !default;
$light:         #f8f9fa !default;
$dark:          #353B48 !default;

$error-color: $danger;
$error-border-color: #ff867c;

/* Globais */
/* Para utilizar o font-size:::: =  map-get($font-size, tamanho-que-desejar) */
$font-size: (
  extra-small: 12px,
  small: 13px,
  default: 14px,
  medium: 15px,
  big: 16px,
  bigger: 18px,
  large: 20px,
  extra-large: 24px
);

$font-weight: (
  Normal: normal,
  SemiBold: 600
);

$border-radius: 5px;
$font-color: #424242;
$border-color: #E0E0E0;
$background-color: #EEEEEE;
$icon-color: #9E9E9E;

$header-height: 45px;